@font-face {
    font-family: noodle;
    src: url(../fonts/big_noodle_titling_oblique.ttf);
}
*
{
    padding: 0;
    margin: 0;
}
.pin {
  position: fixed;
  z-index: 5;
}
.navbar {
    width: 100vw;
    overflow: hidden;
    background-color: #333;
    font-family: noodle;
    height: 10vh;
  }
img {
    padding: 7px 16px;
    outline: none;
    width: 7vw;
    height: 7vh;
}
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    padding-left: 10px;
    overflow: hidden;
    float: left;
  }
  .dropdown-right {
    padding-right: 10px;
    margin-top: .8vh;
    overflow: hidden;
    float: right;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn, .dropdown-right .dropbtn{
    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .dropdown .dropbtn:hover, .dropdown-right .dropbtn:hover {
    font-size: 27px;
    color: violet;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn, .dropdown-right:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content, .dropdown-right:hover .dropdown-content {
    display: block;
  }

  @media screen and (max-width: 700px) {
    .navbar {
        height: 8vh;
    }
    .dropdown-right {
      margin-top: 0vh;
    }
    .dropdown .dropbtn, .dropdown-right .dropbtn {
        font-size: 20px;
        padding: 12px 16px; 
    }
    img {
      padding: 3px 16px;
    }
    .dropdown .dropbtn:hover, .dropdown-right .dropbtn:hover {
        font-size: 23px;
    }

}