<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/css/change.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/snowflakeNoextra.css">
    <link rel="stylesheet" href="../static/css/3Dview2.css">
    <script type="text/javascript" src="../static/js/animator.js"></script>
    <meta charset="UTF-8">

    <!--Meta Information about the page-->
    <meta name="Climate Changes" content="Times NIE binary Hacks(Codingal)2021 project website" />
    <meta name="author" content="Akshat Srivastava" />
    <meta name="keywords" content="codingal" />
    <meta name="keywords" content="Climate change" />
    <meta name="keywords" content="project website" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Times NIE Project</title>
</head>
<body>
    <!-- Navbar -->
    <div class="pin">
      <div class="navbar" id="nav">
          <div class="dropdown">
              <img src="../static/images/home.png">
              <div class="dropdown-content">
                <a href="/climate-change/templates/home">Home</a>
                <a href="/climate-change/templates/author">Author</a>
                <a href="/climate-change/templates/climate">Climate</a>
                <a href="/climate-change/templates/changes">Changes</a>
              </div>
            </div>
            <div class="dropdown-right">
              <button class="dropbtn" onclick="window.location.href='/climate-change/templates/author'">About me
              </button>
              <div class="dropdown-content">
              </div>
            </div>
            <div class="dropdown-right">
              <button class="dropbtn">changes
              </button>
              <div class="dropdown-content">
                <a href="/climate-change/templates/changes#">Top.</a>
                <a href="/climate-change/templates/changes#global-warming">Global Warming.</a>
                <a href="/climate-change/templates/changes#human-factors">Human Factors</a>
                <a href="/climate-change/templates/changes#natural-factors">Natural Factors</a>
                <a href="/climate-change/templates/changes#climatic-change's-effects">Climatic Change's effects</a>
                <a href="/climate-change/templates/changes#facts">Facts.</a>
                <a href="/climate-change/templates/changes#how-to-prevent">How to Prevent?</a>
              </div>
            </div>
          <div class="dropdown-right">
              <button class="dropbtn">Climate
              </button>
              <div class="dropdown-content">
                <a href="/climate-change/templates/climate">Top.</a>
                <a href="/climate-change/templates/climate#what-is-climate">What is Climate?</a>
                <a href="/climate-change/templates/climate#factors-affecting-climate">Factors affecting Climate.</a>
                <a href="/climate-change/templates/climate#types-of-climate">Types of Climate.</a>
                <a href="/climate-change/templates/climate#weather-vs-climate">Weather vs Climate.</a>
                <a href="/climate-change/templates/climate#affect-of-easterly-winds">Affect of easterly winds.</a>
                <a href="/climate-change/templates/climate#what-is-coriolis-force">What is Coriolis Force?</a>
                <a href="/climate-change/templates/climate#the-indian-monsoon">The Indian Monsoon.</a>
                <a href="/climate-change/templates/climate#distribution-of-rainfall">Distribution of Rainfall.</a>
              </div>
            </div>
        </div>
      </div>
    <!-- Snow -->
    <div class="container">
        <div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
        </div>
    </div>
    <div>

        <div style="text-align:center; margin:auto">

            <div class="snowflakes" aria-hidden="true">
            </div>
            <div class="sidebar">
                <div class = "info">
                  <h1>Content</h1>
                  <div class="redirects">
                    <ul>
                      <li><a href="#">Back to Top.</a></li>
                      <li><a href="#global-warming">Global Warming.</a></li>
                      <li><a href="#human-factors">Human Factors</a></li>
                      <li><a href="#natural-factors">Natural Factors</a></li>
                      <li><a href="#climatic-change's-effects">Climatic Change's effects</a></li>
                      <li><a href="#facts">Facts.</a></li>
                      <li><a href="#how-to-prevent">How to Prevent?</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            <!-- Headlines -->
            <div class="stage">
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
              </div>
        </div>
    </div>
    <hr>
    <div class="data">
      <div class="intro">
        Climate change includes both global warming driven by human-induced emissions of greenhouse gases and the resulting large-scale shifts in weather patterns. Though there have been previous periods of climatic change, humans have since the mid-20th century had an unprecedented impact on Earth's climate system and have caused change on a global scale.
      </div>
      <a href="#scroll"><img src="../static/images/scroll.png" id="scroller"></a>
      <a id="scroll"></a>
      <a id="global-warming"></a>
      <div class="det">
        <dl>
          <dt>Global Warming</dt>
          <dd>Global warming is the phenomenon of a gradual increase in the temperature near the earth’s surface. This phenomenon has been observed over the past one or two centuries. This change has disturbed the climatic pattern of the earth. However, the concept of global warming is quite controversial but the scientists have provided relevant data in support of the fact that the temperature of the earth is rising constantly.</dd>
          
          <a id="human-factors"></a>
          <dt>Human Factors</dt>
          <dd>
            Some human activities increase the greenhouse gases in the atmosphere:
            <ul>
              <li>Burning fossil fuels, eg coal, gas and oil - these release carbon dioxide into the atmosphere.</li>
              <li>Deforestation - trees absorb carbon dioxide during photosynthesis. If they are cut down, there will be higher amounts of carbon dioxide in the atmosphere.</li>
              <li>Dumping waste in landfill - when the waste decomposes it produces methane.</li>
              <li>Agriculture - agricultural practices lead to the release of nitrogen oxides into the atmosphere.</li>
            </ul>
          </dd>

          <a id="natural-factors"></a>
          <dt>Natural Factors</dt>
          <dd>
            There are also natural factors which contribute to increased global warming:
            <ul>
              <li>Orbital changes - the Earth has natural warming and cooling periods caused by Milankovitch cycles or variations in the tilt and/or orbit of the Earth around the Sun (Wobble, roll and stretch theory).</li>
              <li>Volcanic activity - during a volcanic eruption carbon dioxide is released into the atmosphere.</li>
              <li>Solar output - there can be fluctuations in the amount of radiation from the sun. If there is a high amount emitted there will be an increase in Earth's temperatures.</li>
            </ul>
          </dd>
            
            <a id="climatic-change's-effects"></a>
            <dt>Climatic Change's effects.</dt>
            <dd>
              <b>Melting of Ice - </b>
              <div class="tabber">Ice is melting worldwide, especially at the Earth’s poles. This includes mountain glaciers, ice sheets covering West Antarctica and Greenland, and Arctic sea ice. In Montana's Glacier National Park the number of glaciers has declined to fewer than 30 from more than 150 in 1910.</div>
              <b>Rise in temperature - </b>
              <div class="tabber">Rising temperatures are affecting wildlife and their habitats. Vanishing ice has challenged species such as the Adélie penguin in Antarctica, where some populations on the western peninsula have collapsed by 90 percent or more.</div>
              <b>Rainfall - </b>
              <div class="tabber">Precipitation (rain and snowfall) has increased across the globe, on average. Yet some regions are experiencing more severe drought, increasing the risk of wildfires, lost crops, and drinking water shortages.</div>
            </dd>

            <a id="facts"></a>
            <dt>Facts.</dt>
            <dd>
              <div class="single">
                <ul>
                  <li>Climate change is real and man-made, and there is overwhelming scientific consensus that this is true.</li>
                  <li>All major climate change reports are thoroughly researched and based on the most accurate, up-to-date science.</li>
                  <li>Climate change studies are transparent.</li>
                  <li>Addressing climate change will strengthen the economy.</li>
                  <li>Climate scientists are underpaid — or not paid at all — for their work.</li>
                </ul>
            </div>
            </dd>

            <a id="how-to-prevent"></a>
            <dt>How to Prevent?</dt>
            <dd>There are several ways to prevent :--
              <ul>
                <li>Make Your Commute Green.</li>
                <li>Be More Conservative with Energy Usage.</li>
                <li>Get Active and Vote.</li>
                <li>Recycle.</li>
                <li>Educate Yourself and Others.</li>
                <li>Encourage the use of renewable energies.</li>
              </ul>
            </dd>
        </dl>
      </div>
    </div>
</body>
</html>


