<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="static/images/logo.png">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/snowflake.css">
    <script type="text/javascript" src="static/js/animator.js"></script>
    <meta charset="UTF-8">

    <!--Meta Information about the page-->
    <meta name="Climate Changes" content="Times NIE binary Hacks(Codingal)2021 project website" />
    <meta name="author" content="Akshat Srivastava" />
    <meta name="keywords" content="codingal" />
    <meta name="keywords" content="Climate change" />
    <meta name="keywords" content="project website" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <!-- Navbar -->
    <div class="pin">
        <div class="navbar" id="nav">
            <div class="dropdown">
                <img src="static/images/home.png">
                <div class="dropdown-content">
                  <a href="/home">Home</a>
                  <a href="/author">Author</a>
                  <a href="/climate">Climate</a>
                  <a href="/changes">Changes</a>
                </div>
              </div>
              <div class="dropdown-right">
                <button class="dropbtn" onclick="window.location.href='/author'">About me
                </button>
                <div class="dropdown-content">
                </div>
              </div>
              <div class="dropdown-right">
                <button class="dropbtn">changes
                </button>
                <div class="dropdown-content">
                  <a href="/changes#">Back to Top.</a>
                  <a href="/changes#global-warming">Global Warming.</a>
                  <a href="/changes#human-factors">Human Factors</a>
                  <a href="/changes#natural-factors">Natural Factors</a>
                  <a href="/changes#climatic-change's-effects">Climatic Change's effects</a>
                  <a href="/changes#facts">Facts.</a>
                  <a href="/changes#how-to-prevent">How to Prevent?.</a>
                </div>
              </div>
            <div class="dropdown-right">
                <button class="dropbtn">Climate
                </button>
                <div class="dropdown-content">
                  <a href="/climate">Top.</a>
                  <a href="/climate#what-is-climate">What is Climate?</a>
                  <a href="/climate#factors-affecting-climate">Factors affecting Climate.</a>
                  <a href="/climate#types-of-climate">Types of Climate.</a>
                  <a href="/climate#weather-vs-climate">Weather vs Climate.</a>
                  <a href="/climate#affect-of-easterly-winds">Affect of easterly winds.</a>
                  <a href="/climate#what-is-coriolis-force">What is Coriolis Force?</a>
                  <a href="/climate#the-indian-monsoon">The Indian Monsoon.</a>
                  <a href="/climate#distribution-of-rainfall">Distribution of Rainfall.</a>
                </div>
              </div>
          </div>
        </div>
    <!-- Snow -->
    <div class="container">
        <div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
            <div class="snow"></div>
        </div>
    </div>
    <!--Intro style-->
    <input type="text" value="link to add" id="fixed" disabled>
    <div class="box">
        <button onclick="copy()" class="bn632-hover bn24">Share</button>
        <a href="/home"><button class="bn632-hover bn24">Home</button></a>
    </div>
    <div id="ui">
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
        <div class="text">MADE BY AKSHAT</div>
    </div>
</body>
</html>